
/*
     FILE ARCHIVED ON 13:12:41 Dec 13, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:02:53 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 17.512 (3)
  exclusion.robots.policy: 0.154
  RedisCDXSource: 34.164
  captures_list: 258.994
  load_resource: 228.197
  PetaboxLoader3.datanode: 291.933 (4)
  LoadShardBlock: 204.57 (3)
  exclusion.robots: 0.163
  esindex: 0.012
  PetaboxLoader3.resolve: 54.877
*/