
/*
     FILE ARCHIVED ON 13:43:03 Dec 13, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:03:26 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.219
  load_resource: 477.22
  PetaboxLoader3.datanode: 334.036 (4)
  exclusion.robots.policy: 0.201
  esindex: 0.03
  PetaboxLoader3.resolve: 59.738
  RedisCDXSource: 22.449
  LoadShardBlock: 326.888 (3)
  CDXLines.iter: 21.926 (3)
  captures_list: 375.602
*/