
/*
     FILE ARCHIVED ON 14:19:27 Dec 13, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:03:37 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.194
  exclusion.robots: 0.208
  CDXLines.iter: 16.73 (3)
  esindex: 0.015
  RedisCDXSource: 43.711
  PetaboxLoader3.resolve: 30.879
  captures_list: 381.675
  load_resource: 52.253
  LoadShardBlock: 317.794 (3)
  PetaboxLoader3.datanode: 304.148 (4)
*/