
/*
     FILE ARCHIVED ON 03:07:38 Dec 14, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:55 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 484.355
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.078
  RedisCDXSource: 205.676
  esindex: 0.01
  LoadShardBlock: 260.192 (3)
  PetaboxLoader3.datanode: 144.424 (4)
  CDXLines.iter: 15.768 (3)
  load_resource: 343.335
  PetaboxLoader3.resolve: 33.395
*/