
/*
     FILE ARCHIVED ON 18:32:02 Nov 30, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:03:42 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 21.02 (3)
  exclusion.robots.policy: 0.159
  RedisCDXSource: 1.687
  captures_list: 85.317
  load_resource: 377.56
  PetaboxLoader3.datanode: 84.281 (4)
  LoadShardBlock: 58.827 (3)
  exclusion.robots: 0.172
  esindex: 0.013
  PetaboxLoader3.resolve: 295.513
*/